body{
    /* background:yellow; */
    font-family:'Times New Roman', Times, serif;
}
h3
{
    color:red;
    /* background-color:black; */
    border-bottom:2px solid black;
    /* border-radius:5px; */
    margin:auto;
     padding:3px;
    font-size:150%;
}
a:hover
{
    color:purple;
}
a:active{
    color:yelloww;
}
a:visited
{
    color:green;
}
.new
{
    color:rgb(38, 194, 142);
    display:block;
}
.new1
{
    font-size:100%;
}